#invisibleStatusBar {
	padding: 0.5em !important;
	bottom: -1px;
	left: -1px;
	font: 10px "lucida grande", arial;
	background: #ccc;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
	color: black;
}
#invisibleStatusBar.invisibleStatusBarRight {
	left: auto;
	right: -1px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0.5em;
}
#invisibleStatusBarPrefix {
}
