#invisibleStatusBar {
	padding: 1px 12px !important;
	bottom: 0;
	left: 0;
	font: 10px/13px "lucida grande";
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa));
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	outline: 1px solid rgba(0, 0, 0, 0.5);
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#invisibleStatusBar.invisibleStatusBarRight {
	left: auto;
	right: 0;
}
#invisibleStatusBarPrefix {
}
