<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Bergey</string>
	<key>CFBundleDisplayName</key>
	<string>Invisible Status Bar</string>
	<key>CFBundleIdentifier</key>
	<string>com.danielbergey.safari.invisiblestatusbar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://acid3.acidtests.org/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injection.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>lib/jquery.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>invisiblestatusbar.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>When you don't want Safari's status bar to show / But you still want to know where your clicks are gonna go</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://dbergey.github.com/Invisible-Status-Bar/updates_safari.plist</string>
	<key>Website</key>
	<string>http://danielbergey.com/software/invisiblestatusbar/</string>
</dict>
</plist>
